name: Docker build and push

on:
  workflow_call:
    inputs:
      deployment-file:
        required: true
        type: string

jobs:
  docker-build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true
        with:
          key: ${{ github.event.repository.name }}-{hash}
          restore-keys: ${{ github.event.repository.name }}

      - name: Create image ref
        run: |
          export IMAGE_TAG="$(date +'%Y-%m-%d_%H-%M-%S')_${{ github.ref_name }}_${{ github.sha }}"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Build the Docker image
        run: docker build . -t ${{ secrets.DOCKER_REGISTRY_URL }}/dr-flex/${{ github.event.repository.name }}:$IMAGE_TAG

      - name: Login to Dr-Flex container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DOCKER_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: Push the Docker image
        run: docker push ${{ secrets.DOCKER_REGISTRY_URL }}/dr-flex/${{ github.event.repository.name }}:$IMAGE_TAG

      - name: Restart deployment
        run: >
            wget --no-verbose --content-on-error=on --output-document -
            --header "Authorization: ${{ secrets.AUTODEPLOY_TOKEN }}"
            --post-data "deploymentFile=${{ inputs.deployment-file }}&newImageRef=${{ secrets.DOCKER_REGISTRY_URL }}/dr-flex/${{ github.event.repository.name }}:$IMAGE_TAG"
            ${{ secrets.AUTODEPLOY_URL  }}
