name: Docker build

on:
  workflow_call:
   inputs:
      integration-test-folder:
        description: "docker compose file for integration tests"
        required: false
        type: string
        
jobs:
  docker-build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Create image ref
        run: |
          export IMAGE_TAG="$(date +'%Y-%m-%d_%H-%M-%S')_${{ github.ref_name }}_${{ github.sha }}"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          
      - name: Build the Docker image
        run: docker build . -t ${{ secrets.DOCKER_REGISTRY_URL }}/dr-flex/${{ github.event.repository.name }}:$IMAGE_TAG
        
      - name: Run integration tests
        if: "${{ inputs.integration-test-folder != '' }}"
        run: cd "${{ inputs.integration-test-folder}}" && docker compose up --build --exit-code-from test-runner
        
      - name: Cleanup integration tests
        if: "${{ inputs.integration-test-folder != '' }}"
        run: cd "${{ inputs.integration-test-folder}}" && docker compose down
